<div class="col-lg-3 col-xs-3"></div>
<div class="col-lg-6 col-xs-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h2 style="margin: .1em;">Welcome to Applicable Data</h1>
    </div>
    <div class="box-body">
    </div>
  </div>
</div>