@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-table";

.best{
  background-color: #FC913A;
}

.disengaged_best{
  background-color: #F9D423;
}

.disengaged_light{
  background-color: #FF4E50;
}

.new_high_value{
  background-color: #EDE574;
}

.new{
  background-color: #E1F5C4;
}

