@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-table";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "AdminLTE/AdminLTE.css";
@import "AdminLTE/skin-blue.css";


.best{
  /*background-color: #D9EAD3;*/
  background-color: #00a65a;
  text-align: justify;
}

.bestdot{
  color: #00a65a
}

.disengaged_best{
  /*background-color: #FF9900;*/
  background-color: #f39c12;
  text-align: justify;
}

.disengaged_bestdot{
  color: #f39c12;
}

.disengaged_light{
  background-color: #f56954;
  text-align: justify;
}

.disengaged_lightdot{
  color: #f56954;
}

.new_high_value{
  background-color: #3c8dbc;
  text-align: justify;
}

.new_high_valuedot{
  color: #3c8dbc;
}

.new{
  background-color: #605ca8;
  text-align: justify;
}

.newdot{
  color: #605ca8;
}

.center_me{
  width: 100%;
  margin: -1em auto;
  display: block;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/*.pagination {
  margin: 0 auto !important;
  width: 100% !important;
  display: block !important;
}*/

.pagination > a,
.gap{
  background: #fafafa !important;
  color: #666 !important;
  padding: 5px 10px !important;
  line-height: 1.5 !important;
  border: 1px solid #ddd !important;
  float: left !important;
  min-width: 43px;
}


.current,
.previous_page.disabled,
.next_page.disabled{
  background: #eee !important;
  color: #666 !important;
  padding: 5px 10px !important;
  line-height: 1.5;
  border: 1px solid #ddd !important;
  float: left !important;
}


th, table, td {
  text-align: center;
}

.fa-circle{
  font-size: .5em;
  vertical-align: middle;;
}

.box-body.uploadbox{
  margin: 0 auto;
  width: 50%;
  padding: 1.5sem;
}

#user_email, 
#user_password,
#user_password_confirmation,
#user_current_password{
  width: 100%;
  padding: .5em;
}

.fullwidth{
  width: 100%;
}

.alert-alert {
  border-color: #d73925;
  color: #fff !important;
  background-color: #dd4b39 !important;
}

.tab-pane{
  overflow: scroll;
  max-height: 20em;
}

/*input{
  border-radius: 4px;
}*/
