@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-table";

.best{
  background-color: #D9EAD3;
}

.disengaged_best{
  background-color: #FF9900;
}

.disengaged_light{
  background-color: #FF00FF;
}

.new_high_value{
  background-color: #FFFF00;
}

.new{
  background-color: #00FFFF;
}

