<h3>Import Sales Data</h3>
<%= form_tag import_sales_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload" %>
<% end %>

<%= link_to 'New Sale', new_sale_path %>
<% else %>