<% if user_signed_in? %>

<div class="col-lg-3 col-xs-3"></div>
<div class="col-lg-6 col-xs-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-file-o"></i> Upload Local File</h3>
    </div> 
    <div class="box-body uploadbox">
      <%= form_tag import_csv_test_sales_path, multipart: true do %>
      <%= hidden_field_tag :user_id , @user_id %>
      <%= file_field_tag :file %>  
    </div>
    <div class="box-footer">
      <%= button_tag "Upload", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Uploading..."} %>
      <% end %>
    </div>
  </div>

  <% else %>

  <p class="alert alert-danger">You must be signed in to view this page</p>

  <% end %>